@use "/src/styles/index" as *;

.banner {
  background-color: $black-0;
  background-image: url("../../../icons/icon-banner-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;

  @include bp(s) {
    background-image: url("../../../icons/icon-banner-desktop.svg");
  }
}

.banner__content {
  display: flex;
  overflow: hidden;
  position: relative;
}

.banner__content-copy {
  padding: 25px 22px;

  @include bp(m) {
    padding: 96px 90px 100px;
  }
}

.banner__title {
  color: $grey-300;
  font-size: 8px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;

  @include bp(s) {
    font-size: 32px;
    line-height: 48px;
  }
}

.banner__main-title {
  color: $grey-200;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;

  @include bp(s) {
    font-size: 64px;
    line-height: 88px;
  }
}
