@use "/src/shared/index" as *;

.chip-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;

  @include bp(m) {
    justify-content: center;
  }

  @include bp(md-only) {
    overflow: auto;
    white-space: nowrap;
  }
}
