@use "/src/styles/index" as *;

.skeleton {
  animation: animation 1s infinite;
  background: linear-gradient(90deg, #e8e8e8 0px, #f8f8f8 40px, #e8e8e8 80px);
  background-size: 1067px;
  margin-bottom: 20px;

  @keyframes animation {
    0% {
      background-position: -100px;
    }

    40%,
    100% {
      background-position: 270px;
    }
  }
}
